#header{
    width: 100%;
}

#header #logo img{
    width: 100px;
    height: auto;
}

#header #car img{
    width: 80px;
    height: auto;
}

#header #user img{
    width: 80px;
    height: auto;
}

#slider{
    height: 100px ;
    width: 100%;
    background-color: darkmagenta;
}

#content{
    height: 100px ;
    width: 100%;
    background-color: green;
}

#footer{
    height: 100px ;
    width: 100%;
    background-color: orange;
}