.App {
}

.header{
  background-color: #2A2C31;
  color: #0000ff;
  padding: 10px 0px 10px 0px;
}

.header .row{
  align-items: center;
}

.header #logo{
  width: 80px;
  height: auto;
}

.header .nav a{
  color: #ffffff;
}

.header .shopping-cart{
  color: #ffffff;
  width: 30px;
  height: auto;
}
.header .shopping-count{
  color: #ffffff;
}

.header .user-login{
  color: #ffffff;
  width: 40px;
}



.menu-vertical .nav-link{
  margin-top: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.form-detalhes .user-header{
  align-items: center;
  margin-bottom: 30px;
}

.form-detalhes .user-name{
  color: #222222;
  font-size: 1.4em;
  font-weight: bold;
}

.form-detalhes .user-icon{
  color: #222222;
  width: 80px;
  height: auto;

}

.form-detalhes .input-header{
  color: #222222;
  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
}

.form-detalhes .input-text{
  color: #222222;
  font-size: 1.1em;
  text-align: left;
}

.error-message{
  color: #ff0000;
  font-size: 0.8em;
}

.border-box{
  border: 1px solid #c0c0c0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
